<div class="container">
    <div class="row ">
        <div class="col-sm-4 calvos">
            <p>calvos</p>
        </div>
        <div class="col-sm-4">
            <p>calvos</p>
        </div>
        <div class="col-sm-4">
            <p>calvos</p>
        </div>
        <div class="col-sm-4">
            <p>calvos</p>
        </div>
    </div>
</div>
